.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 165px;
    //width: 237px; // orginal twitter width: 290px;
}
.twPc-bg {
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 21px;
}
.elipsis1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.twPc-Arrange li:nth-child(1) {
    width: 29%;
}
ul.twPc-Arrange li:nth-child(2) {
    width: 35%;
}
ul.twPc-Arrange li:nth-child(3) {
    width: 36%;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.panel-body-1 {
	padding: 15px 15px 7px 15px;
}
.panel-body-1 > div{
    border: 2px solid #d5a500;
}

.panel-body-2 {
	padding: 8px 15px 7px 15px;
}
.panel-body-2 > div {
    border: 2px solid #b7b7b7;
}
.panel-body-3 {
	padding: 8px 15px 15px 15px;
}
.panel-body-3 > div {
    border: 2px solid #a17419;
}