﻿
html {
	height: 100%;
}
body { 
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;/*to je bilo*/
/*	overflow-y: hidden;*//*znaci to je sve za skroll i onaj obj u js*/
	height: 100%;
}

div {
	/*border: 1px solid #000;*/

}
.moja-labela {

	width:auto;
	padding-left:0px;
	padding-right:0px;
	text-align:left;
	font-size:13px;
	
}

/*providno*/
.navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

#wrapper1 { 
	/*to je fora, da bi njegov unutrasnji div mogao da pozicioniras absolute unutar njega*/
	position: relative; 
	/*width:100%; - sirina leve kolone*/

}
#over_map_cont { 
	position: absolute; 
	width:67%;
	top: 7px; 
	left: 14%; 
	z-index: 99; 
	/*margin:auto;*/
	text-align: center;
	border: 1px black;
}
#over_map_info {
	font-size:11px; 
	min-height:20px; 
	padding-left:5px; 
	padding-right:5px;
	margin: 0 auto; 
	display:inline-block;	
	text-align: left;
	vertical-align: middle;
}
#resultsId1 {
	margin-top: 2px;
	margin-bottom: 0px;
	text-align: left;
	display: inline-block;
}
#gmap {
	/*height:510px;*/
	width:100%;
}

#left-column {
	overflow-y: auto;
	overflow-x: hidden;
	/*height:510px;*//*brisi bre za levu kolonu otera ga dole*/	 
	/*height:85%;*/
	/*max-width:336px;	*/ /*u rez > od 1200*/
}
@media (min-width: 768px) {
	.row1 {
		/*margin-left:0px;*/
		margin-right:-30px;/*ovde treba margine nesto*/
	}
	#wrapper1 { 
		padding-left: 0;
		padding-right: 0;
		/*width:100%; - sirina leve kolone*/ 
		/*width:calc(100% - 336px);*//*ali kad hideus mora da se prosiri*/
	}
}

@media (min-width: 959px) {
    #gmap {	
		/*height:85%;*/
	}
	#left-column { max-width:336px; }
	.container { width:100%; }/*postavi posebno fix sirinu za svaku rez*/

}
}
.panel-body {
	padding:0px;
	/*margin-top:-5px; */
	margin-bottom:-20px
}
.infoBox {

}
@media only screen and (max-width: 959px) {
    .left-offset {
		margin-left:15px;/*dugme*/	
	}
}
.left-offset {
	/*margin-left:15px;*/
}

@media only screen and (max-width: 768px) {
	#left-column {
		padding-bottom:15px;
		height:auto;/* to */
	}
	.navbar {
		margin-bottom: 0px;/*mapa uz navbar*/
	}
	.panel-group {	
		margin-top: 20px;
	}
	#row2 {
		/*margin-left:0px; 
		margin-right:-15px; */
		width:auto;
	}
	#row3 {
		width:auto;/*to je*/
		/*margin-left:0px; 
		margin-right:-15px; */		
	}
	.container {
		/*margin-bottom:-20px;*/ /*to je*/
	}
}

@media (max-width: 768px) {
	.navbar-form {
		width: auto;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-left {
		float: left !important;
	}
}

	
@media only screen and (max-width: 480px) {
	#wrapper1 { height:auto}/*to je fora container auto a gmap 100%*/
    #gmap {	height:100%; }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
	#wrapper1 { height:auto}
    #gmap {	height:100%; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {	
     /*#gmap {	height:100%; }*/
	.container { width:100%; }
	#wrapper1 { padding-right: 0;}
}
@media (min-width: 768px) and (max-width: 768px) {/*on je ispod pa se on izvrsava*/
	#wrapper1 { 
		margin-top: 20px;/*radi ovo*/
		padding-right: 15px;
	}
}
/*
@media only screen and (max-width: 480px) {
    #your_id {width:000px;height:000px;}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    #your_id {width:000px;height:000px;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #your_id {width:000px;height:000px;}
}
@media only screen and (min-width: 959px) {
    #your_id {width:000px;height:000px;}
}
*/

.success {
	/*background-color: rgb(0, 240, 0) !important;*/
	/*background-color: rgb(223, 240, 216);*/
}

#row2 {
	height:30%; 
	overflow-y:auto; 
	overflow-x: auto;  
	background-color: rgb(249, 249, 249);
	margin-bottom:0px;
	/*padding-left:0px;*/
}
#row3 {
	margin-top:20px; 
	margin-bottom:0px;
	overflow-x: auto;	
	/*padding-left:0px; 
	padding-right:0px;*/
}

.hide1{
	visibility: hidden;
	display: none;
}

body .modal-small1 {
    width: 40%; /* respsonsive width */
	left: 30%; /* (100%-width)/2 */
	/* place center */
	margin-left:auto;
	margin-right:auto; 
}




