

#alert_outer {
    position: fixed;
    top: 55;
    left: 0;
    width: 100%;
}
#alert_info {
    margin: 0 auto;
    width:200px;
}

.centered-text {
    text-align:center
} 
.form-horizontal .control-label{
  /*text-align:left;*/
}